* {
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 41, 38);
    font-family: "Open Sans";
}

a {
    text-decoration: none;
}

header nav a {
    color: rgb(228, 163, 42);
}

.web-food {
    font-size: 2rem;
    font-weight: bold;
    padding: 2% 0;
}

header {
    position: relative;
    top: -10px;
    padding: 0;
    background-color: rgb(29, 26, 24);
    width: 100%;
}

header nav>a {
    text-transform: uppercase;
    margin-left: 3%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
    color: rgb(228, 163, 42);
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    margin-top: 10px;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: white;
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 26, 27);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

#hamburger {
    width: 3rem;
    height: 3rem;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    margin-top: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

#side-drawer:target {
    display: flex;
}

aside ul {
    list-style: none;
}

aside li {
    margin: 30% 0;
    font-size: 1.7rem;
}

aside a {
    color: rgb(228, 163, 42);
}

aside a:hover {
    color: rgb(197, 133, 13)
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.paths {
    margin: 0;
    padding: 0 2rem;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 2%;
    margin: 0 7% 0 1%;
}

main li {
    text-align: center;
    background-color: rgb(230, 209, 184);
    border-radius: 6px;
    overflow: hidden;
    height: 23rem;
}

main img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

main h1 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
    color: rgb(228, 163, 42);
}

button {
    height: 2.5rem;
    width: 12rem;
    font-size: large;
    background-color: rgb(252, 169, 46);
    border: none;
    border-radius: 5px;
    color: rgb(233, 221, 206);
}

button:hover {
    background-color: rgb(197, 133, 13);
    cursor: pointer;
}

.css:hover {
    color: rgb(197, 133, 13)
}

@media (max-width: 48rem) {
    main ul {
        grid-template-columns: 100%;
        margin-bottom: 50px;
    }
    main h1 {
        font-size: 1.5rem;
    }
    .paths {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}